<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Logo" class="img-fluid" style="height: 80px;">
    </a>
  </div>
</nav>

<!-- Contenido de la página -->
<div class="container border mt-2 bg-dark rounded" style="--bs-bg-opacity: .9;">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-white text-center mt-2 p-2">
  <div class="container">
    <p [innerHTML]="getFooterText()"></p>
  </div>
</footer>