.card {
  max-width: 12rem;
  min-width: 12rem;
  max-height: 18rem;
  min-height: 18rem;
  transition: transform 0.3s ease, margin 0.3s ease;
  font-size: xx-small;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.overflow-hidden {
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}
