image: node:18

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

before_script:
  - npm install -g @angular/cli
  - npm ci

build:
  stage: build
  script:
    - ng build --configuration=production
  artifacts:
    paths:
      - public/

deploy:
  stage: deploy
  script:
    - apt-get update -qy
    - apt-get install -y lftp
    - lftp -c "open -u $FTP_USERNAME,$FTP_PASSWORD $FTP_SERVER; mirror -R public/ /path/to/deployment"
  only:
    - main

