image: node:18.19

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

before_script:
  - npm install -g @angular/cli
  - npm install

build_job:
  stage: build
  script:
    - ng build --prod --output-path=dist/
  artifacts:
    paths:
      - dist/

pages:
  stage: deploy
  script:
    - mv dist/* public/
  artifacts:
    paths:
      - public
  only:
    - main  # Cambia esto a la rama que uses para desplegar, si es diferente
