.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  height: calc(100vh - 16rem);
  overflow-y: auto;
}

/* Estilo opcional para personalizar las barras de desplazamiento (sólo para navegadores Webkit) */
.card-container::-webkit-scrollbar {
  width: 10px;
}

.card-container::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Color del pulgar del scrollbar */
  border-radius: 10px; /* Bordes redondeados del pulgar del scrollbar */
}

.card-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Color del fondo del scrollbar */
}
