/* Estilos personalizados para el componente de detalle del personaje */
.card {
  border: none; /* Quita el borde de la tarjeta */
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.1rem;
}

.btn-primary {
  background-color: #dc3545; /* Color de fondo del botón primario */
  border-color: #dc3545; /* Color del borde del botón primario */
}

.btn-primary:hover {
  background-color: #c82333; /* Color de fondo del botón primario al pasar el mouse */
  border-color: #c82333; /* Color del borde del botón primario al pasar el mouse */
}

.card-container {
  height: calc(100vh - 8rem);
  overflow-y: auto;
  }
