/* You can add global styles to this file, and also import other style files */
* {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
body {
  padding-top: 4.5rem; /* Para dejar espacio para el header fijo */
}
.navbar {
  transition: all 0.3s ease; /* Transición para la animación del header */
}
.navbar.scrolled {
  height: 50px; /* Altura reducida al hacer scroll */
}
.navbar-brand img {
  max-height: 40px; /* Ajustar el tamaño máximo del logo */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
