<div class="notification-container">
  <div *ngFor="let notification of notifications" class="notification-item" (click)="closeNotification(notification.id)">
    <div class="alert d-flex align-items-center" [ngClass]="getTypeClass(notification)" role="alert">
      <i [ngClass]="getIconClass(notification) + ' flex-shrink-0 me-2' " aria-label="Info:"></i>
      <div>
        <strong>{{ notification.title }}</strong>
        <p class="mb-0">{{ notification.message }}</p>
      </div>
    </div>
  </div>
</div>
