.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  z-index: 1050;
  cursor: pointer;
}

.notification-item {
  margin-bottom: 10px;
}

.notification-card-body {
  padding: 1rem;
}
